/* TOP RED BANNER */
.top-banner {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 30px;
  font-size: 16px;
  font-weight: bold;
}

/* MAIN FLEX LAYOUT */
.main-layout {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* LEFT TEXT SECTION */
.text-section {
  width: 60%;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
}

/* DWARKADHISH TEXT */
.dwarka-text {
  margin-top: 30px;
  font-size: 28px;
  font-weight: bold;
}

/* RIGHT IMAGE SECTION */
.image-section {
  width: 40%;
}

.image-section img {
  width: 100%;
  height: auto;
  border: 1px solid #000;
}




